<div class="container container-post">
    <div class="card post-card col-mx-auto">
        <% if(page.thumbnail) { %>
            <div class="card-image" style="background-image: url('<%= page.thumbnail %>');"></div>
        <% } else { %>
            <div class="card-no-image"></div>
        <% } %>
        <div class="card-header">
            <div class="card-header-title">
                <div class="card-title h4"><%= page.title %></div>
            </div>
            <div class="divider"></div>
            <div class="card-header-info">
                <figure class="avatar">
                    <img src="<%= theme.img.avatar %>">
                </figure>
                <div>
                    <div class="card-subtitle"><strong><%= config.author %></strong></div>
                    <div class="card-subtitle text-gray"><%= date(page.date, config.date_format) %></div>
                </div>
                <div style="flex-grow: 1;"></div>
                <div>
                <!-- Post Share -->
                <%- partial('_partial/menu/post-share') %>
                <!-- Post Qrcoe -->
                <% if(theme.post.qrcode.enable === true) { %>
                    <%- partial('_partial/menu/post-qrcode') %>
                <% } %>
                </div>
            </div>
        </div>
        <br>
        <div id="post-content" class="card-body">
            <%- page.content %>
            <%- partial('_partial/post-license') %>
        </div>
        <div class="post-footer-info bg-gray">
        <%- partial('_partial/post/footer-info') %>
        </div>
        <div class="divider m-0"></div>
        <%- partial('_partial/post/nav') %>
        <% if(theme.comment.use){ %>
            <div class="card-footer">
                <%- partial('_plugin/comment/' + theme.comment.use + '/main') %>
            </div>
        <% } %>
    </div>

    <!--<% var toc_obj = toc(page.content, {
        class: 'post-toc',
        list_number: theme.post.toc.linenumber || false,
    }) %>
    <div class="card post-tos">
        <%- toc_obj %>
    </div>-->

</div>