<div class="container container-post">
    <div class="card post-card col-mx-auto">
        <% if(page.thumbnail) { %>
            <div class="card-image" style="background-image: url('<%= page.thumbnail %>');"></div>
        <% } else { %>
            <div class="card-no-image"></div>
        <% } %>
        <div class="card-header">
            <div class="card-title h4"><%= page.title %></div>
            <div class="card-subtitle text-gray"><%= date(page.date, config.date_format) %></div>
            <!-- Category -->
            <% if (page.categories && page.categories.length) { %>
                <%- list_categories(page.categories, {
                    show_count: false,
                    class: 'post-categories',
                    style: 'list',
                    separator: ''
                }) %>
            <% } %>
            <!-- Post Tags -->
            <% if (page.tags && page.tags.length) { %>
                <%- list_tags(page.tags, {
                    show_count: false,
                    class: 'post-tags',
                    style: 'list',
                    separator: ''
                }) %>
            <% } %>
            <!-- Post Share -->
            <%- partial('_partial/menu/post-share') %>
            <!-- Post Qrcoe -->
            <% if(theme.post.qrcode.enable === true) { %>
                <%- partial('_partial/menu/post-qrcode') %>
            <% } %>
        </div>
        <br>
        <div id="post-content" class="card-body">
            <%- page.content %>
            <% if (page.hide_license !== true && theme.post.license || page.license) { %>
                <blockquote style="margin: 2em 0 0;padding: 0.5em 1em;border-left: 3px solid #F44336;background-color: #F5F5F5;list-style: none;">
                    <p><strong>
                        <% if (page.license) { %>
                            <%- page.license %>
                        <% } else { %> 
                            <%- theme.post.license %>
                        <% } %></strong>
                        <br>
                        <strong><%- __('post.permalink') %></strong><a href="<%= page.permalink %>"><%= page.permalink %></a>
                    </p>
                </blockquote>
            <% } %>
        </div>
        <div class="divider"></div>
        <%- partial('_partial/post-nav') %>
        <% if(theme.comment.use){ %>
            <div class="card-footer">
                <%- partial('_plugin/comment/' + theme.comment.use + '/main') %>
            </div>
        <% } %>
    </div>

    <!--<% var toc_obj = toc(page.content, {
        class: 'post-toc',
        list_number: theme.post.toc.linenumber || false,
    }) %>
    <div class="card post-tos">
        <%- toc_obj %>
    </div>-->

</div>