<!DOCTYPE html>

<html>
    <%- partial('_partial/head') %>

    <body class="mdui-drawer-body-left">
        <div class="mdui-drawer">
            <div id="sidebar-content">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>
        <!-- Main Container -->
        <main>
            <%- body %>
        </main>
        <%- partial('_partial/footer') %>
        <%- partial('_source/footer') %>
    </body>

</html>