<!-- Twitter -->
<% if(theme.footer.sns.twitter) { %>
    <a href="<%= theme.footer.sns.twitter %>" target="_blank">
        <button class="footer-sns-btn footer-sns-twitter"></button></a>
<% } %>

<!-- Facebook -->
<% if(theme.footer.sns.facebook) { %>
    <a href="<%= theme.footer.sns.facebook %>" target="_blank">
        <button class="footer-sns-btn footer-sns-facebook"></button></a>
<% } %>

<!-- Google + -->
<% if(theme.footer.sns.googleplus) { %>
    <a href="<%= theme.footer.sns.googleplus %>" target="_blank">
        <button class="footer-sns-btn footer-sns-gplus"></button></a>
<% } %>

<!-- Weibo -->
<% if(theme.footer.sns.weibo) { %>
    <a href="<%= theme.footer.sns.weibo %>" target="_blank">
        <button class="footer-sns-btn footer-sns-weibo"></button></a>
<% } %>

<!-- Instagram -->
<% if(theme.footer.sns.instagram) { %>
    <a href="<%= theme.footer.sns.instagram %>" target="_blank">
        <button class="footer-sns-btn footer-sns-instagram"></button></a>
<% } %>

<!-- Tumblr -->
<% if(theme.footer.sns.tumblr) { %>
    <a href="<%= theme.footer.sns.tumblr %>" target="_blank">
        <button class="footer-sns-btn footer-sns-tumblr"></button></a>
<% } %>

<!-- Github -->
<% if(theme.footer.sns.github) { %>
    <a href="<%= theme.footer.sns.github %>" target="_blank">
        <button class="footer-sns-btn footer-sns-github"></button></a>
<% } %>

<!-- LinkedIn -->
<% if(theme.footer.sns.linkedin) { %>
    <a href="<%= theme.footer.sns.linkedin %>" target="_blank">
        <button class="footer-sns-btn footer-sns-linkedin"></button></a>
<% } %>

<!-- Zhihu -->
<% if(theme.footer.sns.zhihu) { %>
    <a href="<%= theme.footer.sns.zhihu %>" target="_blank">
        <button class="footer-sns-btn footer-sns-zhihu"></button></a>
<% } %>

<!-- Bilibili -->
<% if(theme.footer.sns.bilibili) { %>
    <a href="<%= theme.footer.sns.bilibili %>" target="_blank">
        <button class="footer-sns-btn footer-sns-bilibili"></button></a>
<% } %>

<!-- Telegram -->
<% if(theme.footer.sns.telegram) { %>
    <a href="<%= theme.footer.sns.telegram %>" target="_blank">
        <button class="footer-sns-btn footer-sns-telegram"></button></a>
<% } %>

<!-- V2EX -->
<% if(theme.footer.sns.v2ex) { %>
    <a href="<%= theme.footer.sns.v2ex %>" target="_blank">
        <button class="footer-sns-btn footer-sns-v2ex"></button></a>
<% } %>

<!-- Segmentfault -->
<% if(theme.footer.sns.segmentfault) { %>
    <a href="<%= theme.footer.sns.segmentfault %>" target="_blank">
        <button class="footer-sns-btn footer-sns-segmentfault"></button></a>
<% } %>